@charset "UTF-8";
@keyframes work-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  /* 반응형폰트변화수치 */
  font-size: 1.1111111111vw;
  background: linear-gradient(0deg, #fcedbe, #afd5fc);
}

/*🎉✨header-setting____________________ */
header .top {
  border: 1rem solid #888;
  z-index: 100;
  position: fixed;
  left: 0;
  padding: 0 min(4em, 80rem);
  width: 100vw;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
header .top .top-left {
  display: flex;
  align-items: end;
  justify-content: baseline;
  column-gap: 45rem;
}
header .top .top-left p:nth-of-type(2) {
  background-color: #000;
  color: #fff;
  padding: 1rem 30rem;
  border-radius: 20rem;
  position: relative;
}
header .top .top-left p:nth-of-type(2):before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 5%;
  display: block;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #00FF00;
  opacity: 0;
  animation: work-ani 1s infinite alternate;
}
header .top .hamberger-menu {
  display: none;
  width: 28rem;
  height: 18rem;
  position: relative;
}
header .top .hamberger-menu span {
  display: block;
  width: 100%;
  height: 3rem;
  background-color: #000;
  border-radius: 8rem;
  text-indent: -9999px;
  position: absolute;
  transition: 0.3s;
  translate: 0 -50%;
}
header .top .hamberger-menu span:nth-child(1) {
  top: 0;
}
header .top .hamberger-menu span:nth-child(2) {
  top: 50%;
  width: 50%;
  right: 0;
}
header .top .hamberger-menu span:nth-child(3) {
  top: 100%;
}
header .top .hamberger-menu.active span:nth-child(1) {
  rotate: 45deg;
  top: 50%;
}
header .top .hamberger-menu.active span:nth-child(2) {
  opacity: 0;
}
header .top .hamberger-menu.active span:nth-child(3) {
  rotate: -45deg;
  top: 50%;
}
header .top .hamberger-menu:hover span:nth-child(2) {
  width: 100%;
}
header .top .subNav {
  position: absolute;
  width: 100%;
  height: 0;
  top: 60rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: 0.3s;
  overflow: hidden;
}
header .top .subNav.active {
  height: calc(100vh - 60rem);
}
header .top .subNav.active .inner {
  right: 0;
}
header .top .subNav .inner {
  background: #fff;
  width: 50%;
  height: calc(100vh - 60rem);
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}
header .top .subNav .inner ul {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
}
header .top .subNav .inner ul li a {
  font-size: 2.5em;
  padding-left: 40rem;
}
header .top .pc-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
header .top .pc-menu li {
  height: inherit;
  padding: 15rem 0rem;
}
header .top .pc-menu li a {
  display: inline-block;
  padding: 5rem 30rem;
  border-radius: 30rem;
}
header .top .pc-menu li.active a {
  background-color: #000;
  color: #fff;
  text-align: center;
}
header .top .pc-menu li:hover a {
  font-style: italic;
  text-decoration: underline;
}

#layout {
  width: 100%;
  height: 100vh;
  font-size: min(1.3em, 20rem);
  position: fixed;
}
#layout > div {
  position: absolute;
  border: 1rem solid #888;
}
#layout > div.cursor {
  border: none;
  background: radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  width: 200rem;
  height: 200rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
#layout > div.left {
  pointer-events: none;
  top: 0;
  padding: 60rem 0;
  width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
}
#layout > div.left p {
  rotate: -90deg;
}
#layout > div.left p:nth-child(1) {
  width: 300rem;
  height: 30rem;
  text-align: right;
  margin-top: 150rem;
}
#layout > div.left p:nth-child(3) {
  width: 130rem;
  margin-bottom: 60rem;
}
#layout > div.right {
  pointer-events: none;
  top: 0;
  padding: 60rem 0;
  width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
}
#layout > div.right p {
  rotate: 90deg;
}
#layout > div.right p:nth-child(1) {
  width: 300rem;
  height: 30rem;
  text-align: right;
  margin-top: 150rem;
}
#layout > div.right p:nth-child(3) {
  width: 130rem;
  margin-bottom: 60rem;
}
#layout > div.right p:nth-child(1) {
  text-align: left;
}
#layout > div.right p:nth-child(3) {
  text-align: right;
}
#layout > div.bottom {
  left: 0;
  padding: 0 min(4em, 80rem);
  width: 100vw;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  justify-content: flex-end;
  transition: 0.5s;
}
#layout > div.bottom a {
  display: none;
  padding: 0 10rem;
}
#layout > div.bottom a i {
  margin-left: 10rem;
}
#layout > div.bottom a:hover, #layout > div.bottom a:hover i {
  font-style: italic;
  text-decoration: underline;
}
#layout > div.bottom.active {
  transition: 0.5s;
  background-color: #231E1A;
  color: #fff;
}
#layout > div.bottom.active a {
  display: block;
}

header, #layout {
  transition: 0.7s;
}

/*🎉✨common section-setting____________________ */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .rel {
  width: calc(100% - 120rem);
  height: calc(100% - 120rem);
  z-index: 1;
  padding: 10rem;
}
section .rel .sec-title h2 {
  font-size: min(6em, 120rem);
}
section .rel .sec-title p {
  font-size: min(6em, 28rem);
}
section .rel .contents {
  width: 100%;
  height: 100%;
}

/*🎉✨section0-opening____________________ */
#section0 .rel {
  display: flex;
}
#section0 .rel .greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
#section0 .rel .greeting h1 {
  font-size: min(13em, 128rem);
  margin-bottom: 40rem;
}
#section0 .rel .greeting p {
  font-size: min(5em, 40rem);
}

/*🎉✨section1-profile____________________ */
#section1 .rel {
  border: 1px solid green;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
  justify-content: center;
  align-items: center;
}
#section1 .rel .porfile-inner {
  border: 1px solid #000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#section1 .rel .porfile-inner .about .photo {
  width: fit-content;
  border: 1px solid #000;
  text-align: center;
}
#section1 .rel .porfile-inner .about .profile {
  flex: 9;
  border: 1px solid #000;
}
#section1 .rel .porfile-inner .about .profile .info {
  border: 1px solid #000;
}
#section1 .rel .porfile-inner .skills {
  border: 1px solid #000;
}
#section1 .rel .porfile-inner .skills h3 {
  font-size: 32rem;
}
#section1 .rel .porfile-inner .skills .skills-stats {
  border: 1px solid red;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20rem;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des {
  border: 1px solid #000;
}

/*🎉✨section2-publishing____________________ */
#section2 .rel {
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
  position: relative;
}
#section2 .rel .preview {
  translate: -10% -10%;
  width: 480rem;
  height: 280rem;
  background: gray;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s, translate 1s;
  border: 15rem solid #fff;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  display: none;
}
#section2 .rel .publishing-con ul {
  height: inherit;
}
#section2 .rel .publishing-con ul li {
  transition: 0.3s;
}
#section2 .rel .publishing-con ul li img {
  display: none;
}
#section2 .rel .publishing-con ul li p {
  display: inline-block;
  border-bottom: 5rem solid #000;
  font-size: min(6em, 100rem);
}
#section2 .rel .publishing-con ul li:nth-of-type(1) {
  translate: 20%;
}
#section2 .rel .publishing-con ul li:nth-of-type(2) {
  translate: 30%;
}
#section2 .rel .publishing-con ul li:nth-of-type(3) {
  translate: 40%;
}
#section2 .rel .publishing-con ul li:nth-of-type(4) {
  translate: 50%;
}
#section2 .rel .publishing-con ul:has(li:hover) :not(:hover) {
  opacity: 0.5;
}

/*🎉✨section3-design____________________ */
#section3 .rel {
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
}
#section3 .rel .sec-title .design-btn {
  display: flex;
  align-self: center;
}
#section3 .rel .sec-title .design-btn button {
  background-color: #fff; /* Green */
  border: 2px solid #000;
  border-radius: 32rem;
  color: #000;
  font-size: 30rem;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 0 10rem;
  cursor: pointer;
}
#section3 .rel .sec-title .design-btn button.active {
  background-color: #000;
  color: #fff;
}
#section3 .rel .design-con {
  position: relative;
  overflow: hidden;
}
#section3 .rel .design-con .design-con-inner {
  overflow: scroll;
}
#section3 .rel .design-con .design-con-inner .design-list {
  width: fit-content;
}
#section3 .rel .design-con .design-con-inner .design-list .graphic-part, #section3 .rel .design-con .design-con-inner .design-list .UXUI-part {
  display: none;
}
#section3 .rel .design-con .design-con-inner .design-list .graphic-part.active, #section3 .rel .design-con .design-con-inner .design-list .UXUI-part.active {
  display: block;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail-1, #section3 .rel .design-con .design-con-inner .design-list .d-thumbnail-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40rem;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail-1 {
  margin-bottom: 40rem;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail {
  border: 1px solid #000;
  width: 472rem;
  height: 330rem;
  overflow: hidden;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail:hover img {
  scale: 1.4;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail img {
  transition: 0.5s ease-in-out;
}