@charset "UTF-8";
@keyframes work-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  /* 반응형폰트변화수치 */
  font-size: 1.1111111111vw;
  background: linear-gradient(0deg, #fcedbe, #afd5fc);
  position: relative;
  color: #1E1E1A;
}

p {
  font-size: 18rem;
}

/*🎉✨header-setting____________________ */
header .top {
  border: 1rem solid #888;
  z-index: 100;
  position: fixed;
  left: 0;
  padding: 0 min(4em, 80rem);
  width: 100vw;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
header .top .top-left {
  display: flex;
  align-items: end;
  justify-content: baseline;
  column-gap: 45rem;
}
header .top .top-left p:nth-of-type(2) {
  background-color: #1E1E1A;
  color: #fffff0;
  padding: 1rem 30rem;
  border-radius: 20rem;
  position: relative;
}
header .top .top-left p:nth-of-type(2):before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 5%;
  display: block;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #00FF00;
  opacity: 0;
  animation: work-ani 1s infinite alternate;
}
header .top .hamberger-menu {
  display: none;
  width: 28rem;
  height: 18rem;
  position: relative;
}
header .top .hamberger-menu span {
  display: block;
  width: 100%;
  height: 3rem;
  background-color: #1E1E1A;
  border-radius: 8rem;
  text-indent: -9999px;
  position: absolute;
  transition: 0.3s;
  translate: 0 -50%;
}
header .top .hamberger-menu span:nth-child(1) {
  top: 0;
}
header .top .hamberger-menu span:nth-child(2) {
  top: 50%;
  width: 50%;
  right: 0;
}
header .top .hamberger-menu span:nth-child(3) {
  top: 100%;
}
header .top .hamberger-menu.active span:nth-child(1) {
  rotate: 45deg;
  top: 50%;
}
header .top .hamberger-menu.active span:nth-child(2) {
  opacity: 0;
}
header .top .hamberger-menu.active span:nth-child(3) {
  rotate: -45deg;
  top: 50%;
}
header .top .hamberger-menu:hover span:nth-child(2) {
  width: 100%;
}
header .top .subNav {
  position: absolute;
  width: 100%;
  height: 0;
  top: 60rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: 0.3s;
  overflow: hidden;
}
header .top .subNav.active {
  height: calc(100vh - 60rem);
}
header .top .subNav.active .inner {
  right: 0;
}
header .top .subNav .inner {
  background: #fffff0;
  width: 50%;
  height: calc(100vh - 60rem);
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}
header .top .subNav .inner ul {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
}
header .top .subNav .inner ul li a {
  font-size: 2.5em;
  padding-left: 40rem;
}
header .top .pc-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
header .top .pc-menu li {
  height: inherit;
  padding: 15rem 0rem;
}
header .top .pc-menu li a {
  display: inline-block;
  padding: 5rem 30rem;
  border-radius: 30rem;
}
header .top .pc-menu li.active a {
  background-color: #1E1E1A;
  color: #fffff0;
  text-align: center;
}
header .top .pc-menu li:hover a {
  font-style: italic;
  text-decoration: underline;
}

#layout {
  width: 100%;
  height: 100vh;
  font-size: min(1.3em, 20rem);
  position: fixed;
}
#layout > div {
  position: absolute;
  border: 1rem solid #888;
}
#layout > div.cursor {
  border: none;
  background: radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  width: 200rem;
  height: 200rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
#layout > div.left {
  pointer-events: none;
  top: 0;
  padding: 60rem 0;
  width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
}
#layout > div.left p {
  rotate: -90deg;
}
#layout > div.left p:nth-child(1) {
  width: 300rem;
  height: 30rem;
  text-align: right;
  margin-top: 150rem;
}
#layout > div.left p:nth-child(3) {
  width: 130rem;
  margin-bottom: 60rem;
}
#layout > div.right {
  pointer-events: none;
  top: 0;
  padding: 60rem 0;
  width: 60rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
}
#layout > div.right p {
  rotate: 90deg;
}
#layout > div.right p:nth-child(1) {
  width: 300rem;
  height: 30rem;
  text-align: right;
  margin-top: 150rem;
}
#layout > div.right p:nth-child(3) {
  width: 130rem;
  margin-bottom: 60rem;
}
#layout > div.right p:nth-child(1) {
  text-align: left;
}
#layout > div.right p:nth-child(3) {
  text-align: right;
}

footer {
  font-size: min(1.3em, 20rem);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: 1rem solid #888;
}
footer .bottom {
  left: 0;
  padding: 0 min(4em, 80rem);
  width: 100vw;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  justify-content: flex-end;
  transition: 0.5s;
}
footer .bottom a {
  display: none;
  padding: 0 10rem;
}
footer .bottom a i {
  margin-left: 10rem;
}
footer .bottom a:hover, footer .bottom a:hover i {
  font-style: italic;
  text-decoration: underline;
}
footer .bottom.active {
  transition: 0.5s;
  background-color: #1E1E1A;
  color: #fffff0;
}
footer .bottom.active a {
  display: block;
}

header, #layout {
  transition: 0.7s;
}

/*🎉✨common section-setting____________________ */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .rel {
  width: calc(100% - 120rem);
  height: calc(100% - 120rem);
  z-index: 1;
  padding: 10rem;
}
section .rel .sec-title h2 {
  translate: 0 -10%;
  font-size: min(6em, 120rem);
  font-family: "Playfair Display", serif;
}
section .rel .sec-title p {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: min(6em, 28rem);
}
section .rel .contents {
  width: 100%;
  height: 100%;
}

/*🎉✨section0-opening____________________ */
#section0 .rel {
  display: flex;
}
#section0 .rel .greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
}
#section0 .rel .greeting h1 {
  font-family: "LeferiPoint-SpecialItalicA", sans-serif;
  font-size: min(13em, 120rem);
}
#section0 .rel .greeting p {
  padding-left: 20rem;
  font-size: min(5em, 40rem);
}

/*🎉✨section1-profile____________________ */
#section1 .rel {
  overflow: hidden;
  color: #fffff0;
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
  justify-content: center;
  align-items: center;
}
#section1 .rel .porfile-inner {
  padding: 50rem;
  display: flex;
  column-gap: 50rem;
}
#section1 .rel .porfile-inner .about {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
#section1 .rel .porfile-inner .about .photo {
  width: fit-content;
  text-align: center;
}
#section1 .rel .porfile-inner .about .profile {
  padding: 10rem 10rem;
}
#section1 .rel .porfile-inner .about .profile .info-detail h4 {
  font-size: 32rem;
}
#section1 .rel .porfile-inner .about .profile .info-detail h4 i {
  margin-left: 10rem;
  font-style: normal;
  font-size: 18rem;
  color: #ddd;
}
#section1 .rel .porfile-inner .about .profile .info-detail .birth {
  margin-top: 20rem;
}
#section1 .rel .porfile-inner .about .profile .info-detail .birth p {
  margin-top: 5rem;
}
#section1 .rel .porfile-inner .about .profile .info-detail .personal {
  margin-bottom: 30rem;
}
#section1 .rel .porfile-inner .about .profile .info-detail .site {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section1 .rel .porfile-inner .about .profile .info-detail .site li a {
  background: #1E1E1A;
  border: 1rem solid #1E1E1A;
  padding: 4rem 10rem;
  border-radius: 35rem;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .rel .porfile-inner .about .profile .info-detail .site li a svg {
  width: 32rem;
}
#section1 .rel .porfile-inner .about .profile .info-detail .site li a:hover {
  background: #fffff0;
}
#section1 .rel .porfile-inner .about .profile .info-detail .site li a:hover svg path {
  fill: #1E1E1A;
}
#section1 .rel .porfile-inner .info {
  flex: 2;
}
#section1 .rel .porfile-inner .info h3 {
  font-size: 28rem;
  margin-bottom: 10rem;
}
#section1 .rel .porfile-inner .info .education {
  padding: 10rem;
  margin-bottom: 20rem;
}
#section1 .rel .porfile-inner .info .education .date {
  display: inline-block;
  color: #ddd;
  font-weight: bold;
}
#section1 .rel .porfile-inner .info .education .edu {
  padding: 0 5rem;
  margin-bottom: 20rem;
}
#section1 .rel .porfile-inner .info .interests ul {
  margin-bottom: 20rem;
  display: flex;
  flex-flow: wrap;
  padding: 10rem;
  gap: 10rem;
}
#section1 .rel .porfile-inner .info .interests ul li {
  background: #1E1E1A;
  padding: 7rem 25rem;
  border-radius: 30rem;
  font-size: 18rem;
}
#section1 .rel .porfile-inner .info .paper {
  height: 200rem;
  background-color: #1E1E1A;
}
#section1 .rel .porfile-inner .skills {
  flex: 3;
}
#section1 .rel .porfile-inner .skills h3 {
  font-size: 28rem;
  margin-bottom: 10rem;
}
#section1 .rel .porfile-inner .skills .skills-stats {
  height: 90%;
  padding: 10rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des {
  padding: 10rem;
  border: 1px solid #fffff0;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des h4 {
  font-size: 24rem;
  margin-bottom: 10rem;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des ul {
  padding: 5rem;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des ul.others {
  display: flex;
  gap: 10rem;
  column-gap: 15rem;
  flex-flow: wrap;
  padding-left: 20rem;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des ul.others li {
  list-style-type: none;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des ul.others li img {
  width: 36rem;
}
#section1 .rel .porfile-inner .skills .skills-stats .skill-des ul li {
  list-style-type: "- ";
  list-style-position: inside;
  font-size: 18rem;
}

/*🎉✨section2-publishing____________________ */
#section2 .rel {
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
  position: relative;
}
#section2 .rel .preview {
  translate: -10% -10%;
  width: 480rem;
  height: 280rem;
  background: gray;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s, translate 1s;
  border: 15rem solid #fffff0;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  display: none;
}
#section2 .rel .publishing-con .pub-inner {
  height: inherit;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail {
  cursor: pointer;
  display: block;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail img {
  display: none;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .pub-describe {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .pub-describe h4 {
  font-family: "Playfair Display", serif;
  display: inline-block;
  width: 80%;
  font-size: min(6em, 80rem);
  position: relative;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .pub-describe h4::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0%;
  right: 0;
  height: 3rem;
  background-color: #1E1E1A;
  transition: width 0.3s ease-in;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .pub-describe ul {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 20rem;
  width: 80%;
  justify-content: space-between;
}
#section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail:hover .pub-describe h4::before {
  width: 100%;
}

/*🎉✨section3-design____________________ */
#section3 .rel {
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
}
#section3 .rel .sec-title .design-btn {
  display: flex;
  align-self: center;
}
#section3 .rel .sec-title .design-btn button {
  background-color: #fffff0;
  border: 2px solid #1E1E1A;
  border-radius: 32rem;
  color: #1E1E1A;
  font-size: 30rem;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 0 10rem;
  cursor: pointer;
}
#section3 .rel .sec-title .design-btn button.active {
  background-color: #1E1E1A;
  color: #fffff0;
}
#section3 .rel .design-con {
  position: relative;
  overflow: hidden;
}
#section3 .rel .design-con .design-con-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section3 .rel .design-con .design-con-inner .design-list {
  width: fit-content;
}
#section3 .rel .design-con .design-con-inner .design-list .graphic-part, #section3 .rel .design-con .design-con-inner .design-list .UXUI-part {
  display: none;
}
#section3 .rel .design-con .design-con-inner .design-list .graphic-part.active, #section3 .rel .design-con .design-con-inner .design-list .UXUI-part.active {
  display: block;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail-1, #section3 .rel .design-con .design-con-inner .design-list .d-thumbnail-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40rem;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail-1 {
  margin-bottom: 40rem;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail {
  cursor: pointer;
  border: 1px solid #1E1E1A;
  width: 360rem;
  height: 240rem;
  overflow: hidden;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail:hover img {
  scale: 1.2;
}
#section3 .rel .design-con .design-con-inner .design-list .d-thumbnail img {
  transition: 0.5s ease-in-out;
}

/*🎉✨section4-planning____________________ */
#section4 .rel {
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
}
#section4 .rel .plan-con {
  padding: 30rem 0;
  overflow: hidden;
}
#section4 .rel .plan-con .plan-con-list {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20rem;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner {
  overflow: hidden;
  width: 5%;
  flex: 0.05;
  border: 1px solid #1E1E1A;
  height: 60%;
  transition: flex 1s, height 0.5s 0.5s;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div {
  display: flex;
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap: 60rem;
  background: url(../img/cat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  filter: grayscale(100%);
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div h3 {
  display: inline-block;
  font-size: 60rem;
  font-family: "Playfair Display", serif;
  position: relative;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div h3 strong {
  font-family: "Pretendard-Regular", sans-serif;
  display: block;
  font-size: 24rem;
  margin-bottom: 30rem;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  width: 50rem;
  height: 3rem;
  background: #1E1E1A;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10rem;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div ul li {
  width: 50%;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div ul li a {
  border: 1px solid #1E1E1A;
  display: inline-block;
  width: 100%;
  padding: 7rem 0;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner div h3, #section4 .rel .plan-con .plan-con-list .plan-list-inner div ul {
  opacity: 0;
  transition: opacity 1ms 0s;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner:hover {
  flex: 1;
  height: 100%;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner:hover div {
  filter: grayscale(0%);
  transition: filter 0.7s;
}
#section4 .rel .plan-con .plan-con-list .plan-list-inner:hover div h3, #section4 .rel .plan-con .plan-con-list .plan-list-inner:hover div ul {
  opacity: 1;
  transition: opacity 1s 1s;
}

/*🎉✨section5-contact____________________ */
#section5 .rel {
  display: flex;
}
#section5 .rel .greeting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10rem;
}
#section5 .rel .greeting h2 {
  font-family: "LeferiPoint-SpecialItalicA", sans-serif;
  font-size: min(13em, 80rem);
}
#section5 .rel .greeting p {
  padding-left: 20rem;
  font-size: min(5em, 40rem);
}
#section5 .rel .greeting ul {
  padding-left: 20rem;
  margin-top: 20rem;
  display: flex;
}
#section5 .rel .greeting ul li a {
  background-color: #1E1E1A;
  border: 2px solid #1E1E1A;
  border-radius: 50rem;
  color: #fffff0;
  font-size: 42rem;
  padding: 10rem 30rem;
  text-align: center;
  display: inline-block;
  margin: 0 10rem;
  cursor: pointer;
}

/*🎉✨section5-contact____________________ */
#modal {
  display: flex;
  display: none;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}
#modal .m-btn {
  position: sticky;
  top: 20rem;
  left: 50%;
  translate: -50%;
  border: 1px solid #1E1E1A;
  background-color: #1E1E1A;
  z-index: 10;
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal .m-btn i {
  font-size: 32rem;
  color: #fffff0;
}
#modal .m-btn.active {
  width: 150rem;
  height: 50rem;
  border-radius: 50rem;
}
#modal .m-btn.active i {
  font-size: 24rem;
}
#modal .rel {
  position: absolute;
  background: #fffff0;
  width: 80%;
  height: fit-content;
  margin-top: 60rem;
  padding: 50rem 0;
  display: flex;
  justify-content: center;
}
#modal .rel .modal-inner {
  width: 90%;
}
#modal .rel .modal-inner .m-thumbnail {
  text-align: center;
}
#modal .rel .modal-inner .m-thumbnail img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 80%;
}
#modal .rel .modal-inner h2 {
  margin-top: 10rem;
  font-size: 48rem;
}
#modal .rel .modal-inner hr {
  margin-top: 20rem;
  margin-bottom: 30rem;
  border: 1px solid #1E1E1A;
}
#modal .rel .modal-inner .T-description {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30rem;
  margin-bottom: 170rem;
}
#modal .rel .modal-inner .T-description ul {
  flex: 1;
}
#modal .rel .modal-inner .T-description ul li {
  padding-left: 10rem;
}
#modal .rel .modal-inner .T-description ul li strong {
  display: inline-block;
  width: 100rem;
}
#modal .rel .modal-inner .T-description ul li a:hover, #modal .rel .modal-inner .T-description ul li a:hover i {
  font-style: italic;
  text-decoration: underline;
}
#modal .rel .modal-inner .T-description ul li:not(:nth-of-type(1)) {
  margin-top: 20rem;
}
#modal .rel .modal-inner .T-description p {
  flex: 1;
  font-size: 22rem;
  padding: 0 30rem;
}
#modal .rel .modal-inner .T-detail {
  margin-top: 50rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l {
  font-size: 22rem;
  display: flex;
  margin-bottom: 100rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l h4 {
  padding-left: 10rem;
  margin-right: 20rem;
  display: inline-block;
  width: 100rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-tool li {
  display: flex;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-tool li p {
  font-size: 20rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-tool li:not(:nth-of-type(1)) {
  margin-top: 10rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-tool li img {
  width: 30rem;
  margin-right: 30rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-function {
  font-size: 20rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-function li {
  margin-left: 20rem;
  list-style-type: "- ";
  padding-left: 20rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-function li:not(:nth-of-type(1)) {
  margin-top: 10rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style {
  font-size: 22rem;
  display: flex;
  justify-content: space-between;
  column-gap: 100rem;
  width: 100%;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li {
  flex: 1;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li p {
  font-size: 22rem;
  margin-bottom: 20rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li .T-color ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li .T-color ul li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100rem;
  padding: 10rem;
  display: flex;
  justify-content: end;
  align-items: end;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li .T-color ul li:nth-of-type(1) {
  background-color: #FFF9E3;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li .T-color ul li:nth-of-type(2) {
  background-color: #45392E;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li .T-typo {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#modal .rel .modal-inner .T-detail .T-detail-l .T-detail-style li .T-typo li {
  font-size: 42rem;
  margin-bottom: 10rem;
}
#modal .rel .modal-inner .T-photo {
  margin-top: 200rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20rem;
}
#modal .rel .modal-inner .T-photo li {
  background-color: #fffff0;
  padding: 10rem 10rem 30rem 10rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#modal .rel .modal-inner .T-photo li img {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#modal .rel .modal-inner .T-photo li p {
  font-size: 20rem;
  margin-top: 20rem;
  padding-left: 10rem;
}
#modal .rel .modal-inner .T-next {
  display: flex;
  justify-content: end;
  column-gap: 10rem;
}
#modal .rel .modal-inner .T-next img {
  width: 150rem;
}
#modal .rel .modal-inner .T-next .T-next-des p {
  font-size: 20rem;
}
#modal .rel .modal-inner .T-next .T-next-des h5 {
  font-size: 36rem;
}
#modal .rel .modal-inner .T-next .T-next-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30rem;
}
#modal .rel .modal-inner .T-next .T-next-arrow i {
  font-size: 36rem;
}