@charset "UTF-8";
/* 스마트폰*/
@media screen and (max-width: 480px) {
  header .subNav .inner {
    width: 100% !important;
  }
}
/* 작은태블릿 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  header .subNav .inner {
    width: 70% !important;
  }
}
/* 큰태블릿 */
/* 큰타블릿까지 가져야할 공통사항 */
@media screen and (max-width: 990px) {
  div.top,
  div.bottom {
    padding: 0 2em;
  }
}
/* 작은모니터까지 가져야할 공통사항*/
@media screen and (max-width: 1200px) {
  header,
  #layout {
    font-size: 17rem;
  }
  header div.right, header div.left, header div.bottom,
  #layout div.right,
  #layout div.left,
  #layout div.bottom {
    display: none;
  }
  header div.top ul.pc-menu,
  #layout div.top ul.pc-menu {
    display: none;
  }
  header div.top .hamberger-menu,
  #layout div.top .hamberger-menu {
    display: block;
  }
  section .rel {
    width: 90%;
    height: auto;
  }
  #section0 {
    height: 70vh;
  }
  #section0 .rel .mob-only {
    display: flex;
  }
  #section0 .rel .greeting {
    align-items: center;
  }
  #section0 .rel .greeting h1,
  #section0 .rel .greeting p {
    text-align: center;
  }
}