@charset "UTF-8";
/* 스마트폰*/
@media screen and (max-width: 480px) {
  header .subNav .inner {
    width: 100% !important;
  }
}
/* 작은태블릿 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  header .subNav .inner {
    width: 70% !important;
  }
}
/* 큰태블릿 */
/* 작은타블릿까지 가져야할 공통사항 */
@media screen and (max-width: 768px) {
  #section2 {
    height: max-content;
  }
  #section2 .rel .publishing-con .pub-inner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    grid-template-columns: 1fr !important;
    gap: 4em;
  }
}
/* 큰타블릿까지 가져야할 공통사항 */
@media screen and (max-width: 990px) {
  div.top,
  div.bottom {
    padding: 0 2em;
  }
  #section0 {
    height: 70vh;
  }
  #section0 .rel .mob-only {
    display: flex;
  }
  #section0 .rel .greeting {
    align-items: center;
  }
  #section0 .rel .greeting h1,
  #section0 .rel .greeting p {
    text-align: center;
  }
  #section1 {
    height: max-content;
    padding: 60rem 0;
  }
  #section1 .rel .profile-left,
  #section1 .rel .profile-right {
    width: 100%;
    padding: 0 !important;
  }
  #section1 .rel .porfile-inner {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  #section1 .rel .porfile-inner .profile-left {
    text-align: left;
  }
  #section1 .rel .porfile-inner .profile-left:hover {
    flex: 1;
  }
  #section1 .rel .porfile-inner .profile-left p {
    font-size: min(0.9em, 20rem);
  }
  #section1 .rel .porfile-inner .profile-left p.name {
    font-size: 32rem;
  }
  #section1 .rel .porfile-inner .profile-left .site li a p::before {
    opacity: 1;
  }
  #section1 .rel .porfile-inner .profile-left .p-des-1,
  #section1 .rel .porfile-inner .profile-left .p-des-2,
  #section1 .rel .porfile-inner .profile-left .p-des-3 {
    display: none;
  }
  #section1 .rel .porfile-inner .profile-right .skill-des ul li {
    font-size: min(0.9em, 20rem);
  }
  #section1 .rel .porfile-inner .profile-right .skill-des .others {
    column-gap: 10rem;
  }
}
/* 작은모니터까지 가져야할 공통사항*/
@media screen and (max-width: 1200px) {
  header,
  #layout {
    font-size: 17rem;
  }
  header div.right, header div.left, header div.bottom,
  #layout div.right,
  #layout div.left,
  #layout div.bottom {
    display: none;
  }
  header div.top ul.pc-menu,
  #layout div.top ul.pc-menu {
    display: none;
  }
  header div.top .hamberger-menu,
  #layout div.top .hamberger-menu {
    display: block;
  }
  section {
    padding: 100px 0;
    border: 1px solid #000;
  }
  section .rel {
    width: 90%;
    height: auto;
  }
  #section0 .rel .mob-only {
    display: flex;
  }
  #section2 {
    height: max-content;
  }
  #section2 .rel .publishing-con .pub-inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] {
    overflow: hidden;
    translate: 0% !important;
    padding: 10rem;
    background-color: #fff;
    border-radius: 0.2em;
    width: inherit;
    height: fit-content;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.23);
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .thumbnail {
    text-align: center;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .thumbnail img {
    display: inline-block;
    height: 250rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .pub-describe h4 {
    font-size: 28rem;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] .P-detail .pub-describe ul {
    width: 100%;
    flex-direction: column;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] a {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] a .thumbnail {
    flex: 7;
    display: inline;
    overflow: hidden;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] a .thumbnail img {
    display: inline-block;
  }
  #section2 .rel .publishing-con .pub-inner li[data-preview] a p {
    flex: 5;
    display: block;
    border: none;
    font-size: 3em;
  }
}
/* hover를 지원하지 않는 환경에서 비활성화 */
@media (hover: none) {
  #section1 .rel .porfile-inner .profile-left p.name:hover {
    font-size: 32rem;
  }
  #section1 .rel .porfile-inner .profile-left p:hover {
    font-size: inherit;
  }
}