
//https://dribbble.com/shots/24125748-Unifiers-of-Japan?utm_content=buffer75cc3&utm_medium=ownedsocial&utm_source=twitter&utm_campaign=buffer 
//https://p5aholic.me/ 
//https://medium.com/daangn/%EB%8B%B9%EA%B7%BC-%EB%A6%AC%EB%B8%8C%EB%9E%9C%EB%94%A9-%EC%BA%A0%ED%8E%98%EC%9D%B8-%ED%8E%98%EC%9D%B4%EC%A7%80%EB%A5%BC-%EA%B0%9C%EB%B0%9C%ED%95%98%EB%A9%B0-%EB%B0%B0%EC%9A%B4-%EA%B2%83-b41d866df9b7 


//Variables
$color-gray:#888;
$size-header:60rem;

@keyframes work-ani {
  0%{opacity:0}
  100%{opacity:1}
}

@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headerTB{
  left:0;
  padding:0 min(4em, 80rem);
  width:100vw;
  height: $size-header;
  @include flex;
  justify-content: space-between;
}

@mixin headerRL{
  pointer-events: none;
  top:0;
  padding:$size-header 0;
  width:$size-header;
  height: 100vh;
  @include flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin section-title{
  &:nth-child(1){
    width:300rem;
    height: 30rem;
    text-align: right;
    margin-top: 150rem;
  }
  &:nth-child(3){
    width:130rem;
    margin-bottom: $size-header;
  }
}

@mixin contents{
  display: flex;
  flex-direction: column;
  row-gap: 50rem;
}



html{scroll-behavior: smooth;}

body{
  /* 반응형폰트변화수치 */
  font-size: 1.1111111111111112vw;
  background:linear-gradient(0deg,#fcedbe,#afd5fc) ;
}
p{font-size: 18rem;}

/*🎉✨header-setting____________________ */
header .top{
  border: 1rem solid $color-gray;
  z-index: 100;
  position:fixed;
  @include headerTB;
  top:0;
  .top-left{
    display: flex;
    align-items: end;
    justify-content: baseline;
    column-gap: 45rem;

    p:nth-of-type(2){
      background-color: #000;
      color:#fff;
      padding:1rem 30rem;
      border-radius: 20rem;
      position:relative;
      &:before{
        content: '';
        position:absolute;
        top:50%;
        translate:0 -50%;
        left:5%;
        display: block;
        width:13rem;
        height: 13rem;
        border-radius: 50%;
        background-color: #00FF00;
        opacity:0;
        animation: work-ani 1s infinite alternate;
      }
    }
  }
  .hamberger-menu{
    display: none;
    width: 28rem;
    height: 18rem;
    position:relative;
    span{
      display: block;
      width:100%;
      height: 3rem;
      background-color:#000;
      border-radius: 8rem;
      text-indent: -9999px;
      position:absolute;
      transition: 0.3s;
      translate:0 -50%;
      &:nth-child(1){top:0}
      &:nth-child(2){top:50%;width:50%;right:0;}
      &:nth-child(3){top:100%;}
      
    }
    &.active span{
      &:nth-child(1){rotate:45deg;top:50%;}
      &:nth-child(2){opacity:0;}
      &:nth-child(3){rotate:-45deg;top:50%;}
    }
    &:hover span:nth-child(2){width:100%;}
  }
  .subNav{
    position:absolute;
    width:100%;
    height:0;
    top:$size-header;
    left:0;
    background-color: rgb(0 0 0 /.7);
    z-index: 10;
    transition: 0.3s;
    overflow: hidden;
    &.active{
      height:calc(100vh - $size-header);
      .inner{
        right:0;
      }
    }
    .inner{
      background: #fff;
      width:50%;
      height:calc(100vh - $size-header);
      position:absolute;
      top:0;
      right:-100%;
      transition: 0.5s;
      transition-delay: 0.3s;
      ul{
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: space-around;
        li a{
          font-size: 2.5em;
          padding-left: 40rem;
        }
      }
    }
  }
  .pc-menu{
    @include flex;
    height: inherit;
    li{
      height: inherit;
      padding:15rem 0rem;
      a{
        display: inline-block;
        padding:5rem 30rem;
        border-radius: 30rem;
      }
      &.active a{
        background-color: #000;
        color:#fff;
        text-align: center;
      }
      &:hover a{
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
}
#layout{
  width:100%;
  height: 100vh;
  font-size: min(1.3em, 20rem);
  position:fixed;
  &>div{
    position:absolute;
    border: 1rem solid $color-gray;
    &.cursor{
      border: none;
      background:radial-gradient(rgb(255 255 255 /0.4),rgb(255 255 255 /0.0));
      box-shadow: 0 0 100px rgb(255 255 255 /.3);
      width:200rem;
      height:200rem;
      border-radius: 50%;
      position:absolute;
      top:0;
      left:0;
      z-index: 0;
      pointer-events: none;
    }
    &.left{
      @include headerRL;
      left:0;
      p{
        rotate: -90deg;
        @include section-title;
      }
    }
    &.right{
      @include headerRL;
      right:0;
      p{
        rotate: 90deg;
        @include section-title;
        &:nth-child(1){
          text-align: left;
        }
        &:nth-child(3){
          text-align: right;
        }
      }
    }
    &.bottom{
      @include headerTB;
      bottom:0;
      justify-content: flex-end;
      transition: 0.5s;
      a{
        display: none;
        padding:0 10rem;
        i{margin-left:10rem;}
        &:hover,&:hover i{
          font-style: italic;
          text-decoration: underline;
        }
      }
      &.active{
        transition: 0.5s;
        background-color:#231E1A;
        color:#fff;
        a{
          display:block;
        }
      }
    }
  }
}
header,#layout{transition: 0.7s;}

/*🎉✨common section-setting____________________ */
section{
  width:100%;
  height: 100vh;
  @include flex;
  .rel{
    width:calc(100% - $size-header * 2);
    height: calc(100% - $size-header * 2);
    z-index: 1;
    padding:10rem;
    .sec-title{
      h2{
        font-size: min(6em,120rem);
      }
      p{font-size: min(6em,28rem);}
    } 
    .contents{
      width:100%;
      height: 100%;
    }
  }
}




/*🎉✨section0-opening____________________ */
#section0 .rel{
  display: flex;
  .greeting{
    @include flex;
    justify-content: end;
    flex-direction: column;
    h1{
      font-size: min(13em,128rem);
      margin-bottom: 40rem;
    }
    p{font-size: min(5em,40rem);}
  }
}

/*🎉✨section1-profile____________________ */
#section1 .rel{
  overflow:hidden;
  color:#fff;
  @include contents;
  justify-content: center;
  align-items: center;
  .porfile-inner{
    padding:50rem;
    display: flex;
    column-gap: 50rem;
    .about{
      flex:1;
      display: flex;
      flex-direction: column;
      // flex-flow:wrap;
      gap:10rem;
      .photo{
        width: fit-content;
        text-align: center;
      }
      .profile{
        padding:10rem 10rem;
        .info-detail{
          h4{
            font-size:32rem;
            i{
              margin-left:10rem;
              font-style: normal;
              font-size: 18rem;
              color:#ddd;
            }
          }
          .birth{
            margin-top:20rem;
            p{
              margin-top:5rem;
            }
          }
          
          .personal{
            margin-bottom: 30rem;
          }
          .site{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
              a{
                background: #000;
                border: 1rem solid #000;
                padding:4rem 10rem;
                border-radius: 35rem;
                display: block;
                @include flex;
                svg{
                  width:32rem;
                }
                &:hover{
                  background:#fff;
                  svg{
                    path{
                      fill: #000;
                    }
                    
                  }
                  
                }
              }
              
            }
          }
        }
        
      }
    }
    .info{
      flex:2;
      h3{font-size: 28rem;
        margin-bottom: 10rem;
      }
      .education{
        padding:10rem;
        margin-bottom: 20rem;
        .date{
          display: inline-block;
          color:#ddd;
          font-weight: bold;
          
        }
        .edu{
          padding:0 5rem;
          margin-bottom: 20rem;
        }
      }
      .interests{
        ul{
          margin-bottom: 20rem;
          display: flex;
          flex-flow: wrap;
          padding:10rem;
          gap: 10rem;
          li{
            background: #000;
            padding:7rem 25rem;
            border-radius: 30rem;
            font-size: 18rem;
          }
        }
      }
      .paper{
        height: 200rem;
        background-color: #000;
      }
    }
    .skills{
      flex:3;
      h3{font-size: 28rem;
        margin-bottom: 10rem;
      }
      .skills-stats{
        height: 90%;
        padding: 10rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap:20rem;
        .skill-des{
          padding:10rem;
          border: 1px solid #fff;
          h4{
            font-size: 24rem;
            margin-bottom: 10rem;
          }
          ul{
            padding: 5rem;
            &.others{
              display: flex;
              gap:10rem;
              column-gap: 15rem;
              flex-flow: wrap;
              padding-left:20rem;
              li{
                list-style-type: none;
                img{
                  width:36rem;
                }
              }
            }
            
            li{
              list-style-type:"- ";
              list-style-position: inside;
              font-size: 18rem;
            }
          }
        }
      }
    }
  }
  

}






/*🎉✨section2-publishing____________________ */
#section2 .rel{
  @include contents;
  position: relative;
  .preview{
    translate: -10% -10%;
    width:480rem;
    height: 280rem;
    background: gray;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:  cover;
    transition: 0.3s,translate 1s;
    border: 15rem solid #fff;
    box-shadow:5px 10px 20px rgb(0 0 0 /.3);
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    pointer-events: none;
    display:none;
  }
  .publishing-con{
    ul{
      height: inherit;
      li{
        transition:0.3s;
        img{display: none;}
        p{
          display: inline-block;
          border-bottom: 5rem solid #000;
          font-size: min(6em, 100rem);
        }
        &:nth-of-type(1){translate:20%}
        &:nth-of-type(2){translate:30%}
        &:nth-of-type(3){translate:40%}
        &:nth-of-type(4){
          // a{display:block;}
          translate:50%
        }
      }
      &:has(li:hover) :not(:hover){
        opacity: 0.5;
      }
    }
  }
}

/*🎉✨section3-design____________________ */
#section3 .rel{
  @include contents;
  .sec-title .design-btn{
    display: flex;
    align-self: center;
    button{
      background-color: #fff; /* Green */
      border: 2px solid #000;
      border-radius: 32rem;
      color: #000;
      font-size: 30rem;
      padding: 10px 20px;
      text-align: center;
      display: inline-block;
      margin: 0 10rem;
      cursor: pointer;
      &.active{
        background-color: #000;
        color: #fff; 
      }
    }
  }

  .design-con{
    position:relative;
    overflow: hidden;
    


    .design-con-inner{
      // overflow: scroll;
      @include flex;
      // background: #000;
      .design-list{
        width: fit-content; 
        // background: pink;  
        .graphic-part,.UXUI-part{
          display: none;
          
          &.active{display: block;} 
        }     
        .d-thumbnail-1,.d-thumbnail-2{
          @include flex;
          column-gap: 40rem;
        }
        .d-thumbnail-1{margin-bottom: 40rem;}
        .d-thumbnail{
          border: 1px solid #000;
          width:360rem;
          height: 240rem;
          overflow: hidden;
          &:hover{
            img{
              scale: 1.4;
          }
        }
        img{
          transition:0.5s ease-in-out;
        }
        
      }

    }
    

    
  }
  }
}


/*🎉✨section4-planning____________________ */
#section5 .rel{
  display: flex;}





/*🎉✨section5-contact____________________ */
#section5 .rel{
  display: flex;
  .greeting{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10rem;
    h1{
      font-size: min(13em,100rem);
    }
    p{font-size: min(5em,40rem);}
    ul{
      margin-top: 50rem;
      display: flex;
      li{
        a{
          background-color: #000;
          border: 2px solid #000;
          border-radius: 50rem;
          color: #fff;
          font-size: 42rem;
          padding: 10rem 30rem;
          text-align: center;
          display: inline-block;
          margin: 0 10rem;
          cursor: pointer;
        }
      }
    }
  }
}