// responsive setting
// 0px ~ 360px (작은 스마트폰)
// 360px ~ 480px (큰 스마트폰)
// 480px ~ 768px (작은 태블릿)
// 768px ~ 990px (큰 태블릿)
// 990px ~ 1200px (작은 데스크탑)
// 1200px ~ (큰 데스크탑)

//이항목은 두개로 분류되어 있음
//1.공통으로 적용될 것 max로만 표시된 항목
//2.그 색션에서만 적용이 될 것 min-max로 표시되어 있음

/* 스마트폰*/
@media screen and (max-width: 480px) {
  header .subNav .inner {
    width: 100% !important;
  }
  #section3 {
    .rel {
      .sec-title {
        .design-btn {
          justify-content: center;
          button {
            font-size: 20rem;
            padding:5px 20px;
          }
        }
      }
    }
  }
}
/* 작은태블릿 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  header .subNav .inner {
    width: 70% !important;
  }
}
/* 큰태블릿 */
@media screen and (min-width: 769px) and (max-width: 990px) {
}

/* 작은타블릿까지 가져야할 공통사항 */
@media screen and (max-width: 768px) {
  #section2 {
    height: max-content;
    .rel {
      .publishing-con {
        .pub-inner {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr 1fr !important;
          grid-template-columns: 1fr !important;
          gap: 4em;
        }
      }
    }
  }
}

/* 큰타블릿까지 가져야할 공통사항 */
@media screen and (max-width: 990px) {
  div.top,
  div.bottom {
    padding: 0 2em;
  }
  #section0 {
    height: 70vh;
    .rel {
      .mob-only {
        display: flex;
      }
      .greeting {
        align-items: center;
        h1,
        p {
          text-align: center;
        }
      }
    }
  }
  #section1 {
    height: max-content;
    padding: 60rem 0;
    .rel {
      .profile-left,
      .profile-right {
        width: 100%;
        padding: 0 !important;
      }
      .porfile-inner {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        .profile-left {
          text-align: left;
          &:hover {
            flex: 1;
          }
          p {
            font-size: min(0.9em, 20rem);
            &.name {
              font-size: 32rem;
            }
          }
          // contact묶음
          .site {
            li a p {
              &::before {
                opacity: 1;
              }
            }
          }
          .p-des-1,
          .p-des-2,
          .p-des-3 {
            display: none;
          }
        }
        .profile-right {
          .skill-des {
            ul li {
              font-size: min(0.9em, 20rem);
            }
            .others {
              column-gap: 10rem;
            }
          }
        }
      }
    }
  }
}

/* 작은모니터까지 가져야할 공통사항*/
@media screen and (max-width: 1200px) {
  header,
  #layout {
    font-size: 17rem;
    div {
      &.right,
      &.left,
      &.bottom {
        display: none;
      }
      &.top {
        ul.pc-menu {
          display: none;
        }
        .hamberger-menu {
          display: block;
        }
      }
    }
  }
  section {
    padding: 100px 0;
    border: 1px solid #000;
    .rel {
      width: 90%;
      height: auto;
    }
  }
  #section0 {
    .rel {
      .mob-only {
        display: flex;
      }
    }
  }
  #section2 {
    height: max-content;
    .rel {
      .publishing-con {
        .pub-inner {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          gap: 4em;
          li[data-preview] {
            overflow: hidden;
            translate: 0% !important;
            padding: 10rem;
            background-color: #fff;
            border-radius: 0.2em;
            width: inherit;
            height: fit-content;
            box-shadow: 0 3px 20px rgb(0 0 0 /0.23);
            .P-detail {
              .thumbnail {
                text-align: center;
                img {
                  display: inline-block;
                  height: 250rem;
                  border: 1px solid rgba(0, 0, 0, 0.2);
                }
              }
              .pub-describe {
                h4 {
                  font-size: 28rem;
                }
                ul {
                  width: 100%;

                  flex-direction: column;
                  li {
                  }
                }
              }
            }

            a {
              width: inherit;
              height: inherit;
              display: flex;
              flex-direction: column;
              .thumbnail {
                flex: 7;
                display: inline;
                overflow: hidden;
                img {
                  display: inline-block;
                }
              }
              p {
                flex: 5;
                display: block;
                border: none;
                font-size: min(3em);
              }
            }
          }
        }
      }
    }
  }
  #section3 {
    .rel {
    }
  }
}

/* hover를 지원하지 않는 환경에서 비활성화 */
@media (hover: none) {
  #section1 .rel .porfile-inner .profile-left p.name {
    &:hover {
      font-size: 32rem;
    }
  }
  #section1 .rel .porfile-inner .profile-left p {
    &:hover {
      font-size: inherit;
    }
  }
}
