/* main style */
/* reference */
/* https://dribbble.com/shots/24125748-Unifiers-of-Japan?utm_content=buffer75cc3&utm_medium=ownedsocial&utm_source=twitter&utm_campaign=buffer */
/* https://p5aholic.me/ */
/* https://medium.com/daangn/%EB%8B%B9%EA%B7%BC-%EB%A6%AC%EB%B8%8C%EB%9E%9C%EB%94%A9-%EC%BA%A0%ED%8E%98%EC%9D%B8-%ED%8E%98%EC%9D%B4%EC%A7%80%EB%A5%BC-%EA%B0%9C%EB%B0%9C%ED%95%98%EB%A9%B0-%EB%B0%B0%EC%9A%B4-%EA%B2%83-b41d866df9b7 */






:root{
  --color-gray: #888;

  --size-header: 60rem;
}

html{scroll-behavior: smooth;}

body{
  /* 반응형폰트변화수치 */
  font-size: 1.1111111111111112vw;
  background:linear-gradient(25deg,#fcedbe,#afd5fc);/* js와 연결해서 화면 그라데이션 애니메이션 */
}

header{
  width:100%;
  height: 100vh;
  font-size: min(1.3em, 20rem);
  position:fixed;
  
  }

header>div{
  position:absolute;
  border: 1rem solid var(--color-gray);
}
header div.top {
  top:0;
  left:0;
  padding:0 min(4em, 80rem);
  width:100vw;
  height: var(--size-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div.top .top-left{
  display: flex;
  align-items: end;
  justify-content: baseline;
  column-gap: 45rem;
}


header div.top .top-left p:nth-of-type(2){
  background-color: #000;
  color:#fff;
  padding:1rem 30rem;
  border-radius: 20rem;
  position:relative;
}
header div.top .top-left p:nth-of-type(2):before{
  content: '';
  position:absolute;
  top:50%;
  translate:0 -50%;
  left:5%;
  display: block;
  width:13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #00FF00;
  opacity:0;
  animation: work-ani 1s infinite alternate;
}


header div.top .hamberger-menu{
  display: none;
  width: 28rem;
  height: 18rem;
  position:relative;
}
.hamberger-menu span{
  display: block;
  width:100%;
  height: 3rem;
  background-color:#000;
  border-radius: 8rem;
  text-indent: -9999px;
  position:absolute;
  transition: 0.3s;
  translate:0 -50%;
}

.hamberger-menu span:nth-child(1){top:0}
.hamberger-menu span:nth-child(2){top:50%;width:50%;right:0}
.hamberger-menu span:nth-child(3){top:100%}
.hamberger-menu.active span:nth-child(1){rotate:45deg;top: 50%;}
.hamberger-menu.active span:nth-child(2){opacity:0;}
.hamberger-menu.active span:nth-child(3){rotate:-45deg;top: 50%;}

.hamberger-menu:hover span:nth-child(2){width:100%;}

header .subNav{
  position:absolute;
  width:100%;
  height:0;
  top:var(--size-header);
  left:0;
  background-color: rgb(0 0 0 /.7);
  z-index: 10;
  transition: 0.3s;
  overflow: hidden;
}

header .subNav.active{
  height: calc(100vh - var(--size-header));
}

header .subNav .inner{
  background: #fff;
  width:50%;
  height:calc(100vh - var(--size-header));;
  position:absolute;
  top:0;
  right:-100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}
header .subNav.active .inner{right:0;}
header .subNav .inner ul{
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
  
}
header .subNav .inner ul li a{
  font-size: 2.5em;
  padding-left: 40rem;
}




header div.top ul.pc-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

header div.top ul.pc-menu>li{
  height: inherit;
  padding:15rem 0rem;
}
header div.top ul.pc-menu>li a{
  display: inline-block;
  padding:5rem 30rem;
  /* transition: 0.2s; */
  border-radius: 30rem;
}
header div.top ul.pc-menu>li.active a{
  background-color: #000;
  color:#fff;
  text-align: center;
}

header div.top ul.pc-menu>li:hover a{
  font-style: italic;
  text-decoration: underline;

}


header div.left {
  top:0;
  left:0;
  padding:var(--size-header) 0;
  width:var(--size-header);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header div.left p{
  rotate: -90deg;
}
header div.left p:nth-child(1){
  width:300rem;
  height: 30rem;
  text-align: right;
  margin-top: 150rem;
}
header div.left p:nth-child(3){
  width:130rem;
  margin-bottom: var(--size-header);
}

header div.right {
  top:0;
  right:0;
  padding:var(--size-header) 0;
  width:var(--size-header);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
header div.right p{
  rotate: 90deg;
}
header div.right p:nth-child(1){
  width:300rem;
  height: 30rem;
  margin-top: 150rem;
}
header div.right p:nth-child(3){
  width:130rem;
  margin-bottom: 70rem;
}
header div.bottom {
  bottom:0;
  left:0;
  padding:0 min(4em, 80rem);
  width:100vw;
  height: var(--size-header);
  display:flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
}
header div.bottom a{
  display: none;
  padding:0 10rem;
}
header div.bottom.active{
  transition: 0.5s;
  background-color:#231E1A;
  color:#fff
}
header div.bottom.active a{display:block;}
header div.bottom a i{
margin-left:10rem;
}
header div.bottom a:hover,
header div.bottom a:hover i{
  font-style: italic;
  text-decoration: underline;
}



/*🎉✨section-setting____________________ */
section{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.rel{
  width:calc(100% - var(--size-header) * 2);
  height: calc(100% - var(--size-header) * 2);
  z-index: 1;
}


/*🎉✨section0-opening____________________ */

#section0 .rel{
  display: flex;
}

#section0 .greeting{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section0 .greeting h1{
  font-size: 128rem;
  margin-bottom: 40rem;
}
#section0 p{
  font-size: 40rem;
}


/*🎉✨section1-profile____________________ */



