/* responsive setting */
/* 0px ~ 360px (작은 스마트폰)
360px ~ 480px (큰 스마트폰)
480px ~ 768px (작은 태블릿)
768px ~ 990px (큰 태블릿)
990px ~ 1200px (작은 데스크탑)
1200px ~ (큰 데스크탑) */
@media screen and (max-width:360px){
  header .subNav .inner{
    width:100% !important;
  }
}
@media screen and (max-width:480px){
  
}
@media screen and (max-width:768px){
  header{background-color: green;}
  header .subNav .inner{
    width:70%;
  }
}
@media screen and (max-width:990px){
  header{background-color: red;}
  header div.top,header div.bottom{
    padding:0 2em;
  }
}
@media screen and (max-width:1200px){
  header{font-size: 17rem;}
  header div.right,
  header div.left{
    display: none;
  }
  header div.top ul.pc-menu{display: none;}
  header div.top .hamberger-menu{
    display: block;
  }
  

}